[submodule "sdks/fog"]
	path = sdks/fog
	url = https://github.com/maxlinc/fog-samples
[submodule "sdks/jclouds"]
	path = sdks/jclouds
	url = https://github.com/maxlinc/jclouds-examples
[submodule "sdks/php-opencloud"]
	path = sdks/php-opencloud
	url = https://github.com/maxlinc/php-opencloud
