<head>
  <meta charset="UTF-8"/>
  <link data-require="bootstrap-css@*" data-semver="3.0.0" href="assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="main" ng-controller="DemoCtrl">
  <ul class="nav nav-tabs">
  <% @tabs.each do |tab_name, tab_target | %>
    <% attrs = 'class="active"' if @active_tab == tab_name %>
    <li role="presentation" <%= attrs %> >
      <a href="<%= tab_target%>"><%= tab_name %></a>
    </li>
  <% end %>
  </ul>
  <script data-require="angular.js@*" data-semver="1.2.27" src="assets/angular/angular.min.js"></script>
  <script data-require="ng-table@*" data-semver="0.3.1" src="assets/angular/ng-table.min.js"></script>
  <link data-require="ng-table@*" data-semver="0.3.1" href="assets/angular/ng-table.min.css" rel="stylesheet">
  <script type="text/javascript">
    var app = angular.module('main', ['ngTable']).
    controller('DemoCtrl', function($scope, $filter, ngTableParams) {
        var data = <%= as_json(results) %>;

        $scope.groupby = 'product'; // default
        $scope.tableParams = new ngTableParams({
            page: 1,            // show one page
            count: data.length  // show all data
        }, {
            counts: [],
            groupBy: $scope.groupby,
            total: data.length,
            filter: {
              service: ''       // initial filter
            },
            getData: function($defer, params) {
                var filteredData = params.filter() ?
                    $filter('filter')(data, params.filter()) :
                    data;
                var orderedData = params.sorting() ?
                    $filter('orderBy')(filteredData, params.orderBy()) :
                    data;

                params.total(orderedData.length);
                $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
            }
        });
    })
  </script>
  <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
  <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
  <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
  <p><strong>Filter:</strong> {{tableParams.filter()|json}}
  <table class="table" ng-table="tableParams" show-filter="true">
    <tbody ng-repeat="group in $groups">
      <tr class="ng-table-group">
        <td colspan="{{$columns.length}}">
          <a href="" ng-click="group.$hideRows = !group.$hideRows"><span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span><strong> {{ group.value }} </strong></a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="results in group.data">
        <td data-title="'Service'" sortable="service" filter="{ 'service': 'text' }">
          {{results.service}}
        </td>
        <% implementors.each do |implementor| %>
        <td data-title="'<%= implementor %>'" ng-class="{'passed': results.<%= implementor %>.length > 0 && results.<%= implementor %>.indexOf('Tested') != -1, 'partial': results.<%= implementor %>.length > 0 && results.<%= implementor %>.indexOf('Supported') != -1, 'failed': results.<%= implementor %>.length > 0 && results.<%= implementor %>.indexOf('Unsupported') != -1 }" sortable="<%= implementor %>" filter="{ '<%= implementor %>': 'implementor' }">
          {{results.<%= implementor %>}}
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <script type="text/ng-template" id="ng-table/filters/implementor.html">
    <select ng-model="params.filter()[name]" name="filter-implementor">
      <option value="">None</option>
      <option value="Supported">Supported</option>
      <option value="Tested">Tested</option>
    </select>
  </script>
</body>
</html>
