<html>
<head>
  <link data-require="bootstrap-css@*" data-semver="3.0.0" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="style.css" rel="stylesheet"> -->
<style type="text/css">
  td {
    padding: 7px 10px;
    vertical-align: top;
    text-align: left;
    border: 1px solid #ddd;
  }
  .passed {
      background-color: green;
  }
  .failed {
      background-color: red;
  }
  .pending {
      background-color: LightGrey;
  }
</style>
</head>
<body ng-app="main" ng-controller="DemoCtrl">
  <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
  <script data-require="ng-table@*" data-semver="0.3.0" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>
  <link data-require="ng-table@*" data-semver="0.3.0" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" rel="stylesheet">
  <script type="text/javascript">
    var app = angular.module('main', ['ngTable']).
    controller('DemoCtrl', function($scope, $filter, ngTableParams) {
        var data = <%= as_json(results) %>;

        $scope.groupby = 'product'; // default
        $scope.tableParams = new ngTableParams({
            page: 1,            // show one page
            count: data.length  // show all data
        }, {
            counts: [],
            groupBy: $scope.groupby,
            total: data.length,
            getData: function($defer, params) {
                var orderedData = params.sorting() ?
                        $filter('orderBy')(data, $scope.tableParams.orderBy()) :
                        data;

                $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
            }
        });

        $scope.$watch('groupby', function(value){
            $scope.tableParams.settings().groupBy = value;
            $scope.tableParams.reload();
        });
    })
  </script>
  Group by:
  <select ng-model="groupby">
      <option value="product">Product</option>
      <option value="service">Service</option>
      <% implementors.each do |implementor| %>
      <option value="<%= implementor%>"><%= implementor %></option>
      <% end %>
  </select>
  <br>
  Grouped by: <b>{{groupby}}</b>
  <table class="table" ng-table="tableParams">
    <tbody ng-repeat="group in $groups">
      <tr class="ng-table-group">
        <td colspan="{{$columns.length}}">
          <a href="" ng-click="group.$hideRows = !group.$hideRows"><span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span><strong> {{ group.value }} </strong></a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="results in group.data">
        <td data-title="'Service'" sortable="service">
          {{results.service}}
        </td>
        <% implementors.each do |implementor| %>
        <td data-title="'<%= implementor %>'" ng-class="{'passed': results.<%= implementor %> > 0 }" sortable="<%= implementor %>">
          {{results.<%= implementor %>}}
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</body>
</html>
